on:
  schedule:
    - cron: "37 12 * * *" # Runs daily at 12:37 UTC
  push:
    branches: ["main"]
    tags: ["v*.*.*"] # Trigger on version tags
  pull_request:
    branches: ["main"]

env:
  # Use docker.io for Docker Hub if empty
  GHCR_REGISTRY: ghcr.io
  DOCKERHUB_REGISTRY: docker.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  DOCKER_HUB_IMAGE_NAME: ${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR_REGISTRY }}/${{ github.repository }}
            ${{ env.DOCKERHUB_REGISTRY }}/${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}

      - name: Build Docker image (but don't push yet)
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  push-ghcr:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Log into GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image to GHCR
        run: |
          docker push ghcr.io/${{ github.repository }}:latest

  push-dockerhub:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image to Docker Hub
        run: |
          docker push docker.io/${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest
